<?xml version="1.0"?>
<config>
    <modules>
        <CustomGento_Cookiebot>
            <version>1.0.0</version>
        </CustomGento_Cookiebot>
    </modules>
    <global>
        <models>
            <customgento_cookiebot>
                <class>CustomGento_Cookiebot_Model</class>
            </customgento_cookiebot>
        </models>
        <helpers>
            <customgento_cookiebot>
                <class>CustomGento_Cookiebot_Helper</class>
            </customgento_cookiebot>
        </helpers>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <customgento_cookiebot>
                        <class>CustomGento_Cookiebot_Model_Observer</class>
                        <method>addCookiebotScript</method>
                    </customgento_cookiebot>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
</config>
