<?xml version="1.0"?>
<config>
    <modules>
        <CustomGento_Cookiebot>
            <version>1.0.0</version>
        </CustomGento_Cookiebot>
    </modules>
    <global>
        <models>
            <customgento_cookiebot>
                <class>CustomGento_Cookiebot_Model</class>
            </customgento_cookiebot>
        </models>
        <helpers>
            <customgento_cookiebot>
                <class>CustomGento_Cookiebot_Helper</class>
            </customgento_cookiebot>
        </helpers>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <customgento_cookiebot>
                        <class>customgento_cookiebot/observer</class>
                        <method>addCookiebotScript</method>
                    </customgento_cookiebot>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <CustomGento_Cookiebot>
                    <files>
                        <default>CustomGento_Cookiebot.csv</default>
                    </files>
                </CustomGento_Cookiebot>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <web>
            <cookiebot>
                <enabled>0</enabled>
                <id></id>
                <blocking_mode>auto</blocking_mode>
            </cookiebot>
        </web>
    </default>
</config>
